@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Taustakuva ja fontti */
html {
  background: url(nettikuvakopio.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto Mono";
}

/* Estetään rullaaminen Aatunkopio-sivulla (paitsi mobiilissa) */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden;
  /* Ei rullaa pöytäkoneella ja tabletilla */
}

.CVsivu {
  height: 100vh;
  overflow: auto;
  /* Varmistaa, että voi rullata */
}


/* Navigointipalkki */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 15px;
}

nav a {
  transition: background-color 0.3s ease-in-out;
}

nav a:hover {
  background-color: rgba(133, 249, 249, 0.797);
  text-decoration: none;
  border-radius: 5px;
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

/* HELLO-teksti */
.HELLO {
  font-size: 10vw;
  color: rgb(133, 249, 249);
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.YHTEYSTIEDOT {
  font-size: 25px;
  color: rgb(255, 255, 255);

  text-align: center;
  margin-top: 50px;




}

/* Tervetuloteksti */
.TEKSTI {
  font-size: 25px;
  color: rgb(255, 255, 255);
  max-width: 600px;
  text-align: left;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 80px;
  margin-bottom: 40px;
}

/* Tekstin ja kuvan asettelu */
.KUVATEKSTI {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;

  margin: 50px auto;
  gap: 50px;

  color: rgb(255, 255, 255);
  font-size: 25px;
  flex-wrap: nowrap;
  padding: 0 40px;

}

/* Kuva-asetukset */
.KUVATEKSTI img {
  width: 350px;
  opacity: 1;
  height: auto;
  filter: brightness(75%);
  border-radius: 15px;
}

.kuva img {
  opacity: 0.65;
  filter: brightness(75%);
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 280px;
  height: auto;

}


.cv-sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;

}

.cv-section {
  background-color: #7d7c7c4e;
  border-radius: 10px;
  padding: 20px;
  flex: 1;



  transition: transform 0.3s ease-in-out;
  /* Animaatio hoverissa */
}

.cv-section:hover {
  transform: translateY(-10px);
  /* Nousee hieman hoverissa */
}

.cv-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: rgb(133, 249, 249);
  /* Tekstin väri */
}

.cv-section p {
  font-size: 1rem;
  color: rgb(216, 208, 208);

}

.cv-section h3 {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);

}

html,
body {
  overflow: auto;
  /* Kaikki sivut rullattavissa */
  height: auto;
  /* Varmistaa, että sisältö ei rajoitu */
}


@media (max-width: 768px) {

  html,
  body {
    overflow: auto;
    height: auto;

  }

  .container {
    display: block;
    height: auto;
    position: relative;
  }

  .HELLO {
    font-size: 20vw;
    margin-top: 50px;
  }

  .TEKSTI {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px auto;
  }

  .KUVATEKSTI {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .KUVATEKSTI img {
    width: 90%;

  }

  .cv-sections {
    flex-direction: column;

    align-items: center;
    padding: 0 15px;

  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .cv-section {
    max-width: 100%;
    margin-bottom: 20px;


  }

  .kuva {
    display: none;
  }


}